@{
    ViewData["Title"] = "ASP.NET using .Net Core 1.0 on Red Hat Enterprise Linux";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This is a .Net application running as a Docker container on OpenShift 3.1 using .Net Core 1.0.  Yes it works!</p>
