@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    839 S. Delaware<br />
    Indianapolis, IN 46285<br />
    <abbr title="Phone">P:</abbr>
    317.276.2000
</address>

<address>
    <strong>Service Owner:</strong> <a href="mailto:toddw@lilly.com">toddw@lilly.com</a><br />
    <strong>Hosting Architect:</strong> <a href="mailto:adairgj@lilly.com">adairgj@lilly.com</a>
</address>
